@import '../../../assets/scss/colors';
$line-height: 1.3;
$font-size-name: 5.2em;
$font-size-title: 1.9em;
$shadow: 3px 7px 20px $text-shadow;
header {
  height: 100vh;
  background: url('../../../assets/img/panama__wallpaper.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  .info {
    text-align: center;
    padding: 30% 15%;
    color: $white;
    text-shadow: $shadow;
    .info--name {
      line-height: $line-height;
      font-size: $font-size-name;
    }
    .info--title {
      margin-top: 36px;
      font-size: 2em;
    }
  }
}
